@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";

/* Custom Theme Variables */
@theme {
  --color-bg: #002147;
  --color-dark-blue: #1e293b;
  --color-accent: #f97316;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-soft-white: #d3dce6d7;
  --color-border-blue: #708090;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: #d3dce6;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

@layer utilities {
  .container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: 450px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
